name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install fontconfig
      run: sudo apt-get update && sudo apt-get install -y fontconfig libfontconfig1
    - uses: actions/checkout@v4
    - name: Build the Docker image AnalysisOfAspose
      run: docker build . --file AnalysisOfAspose/Dockerfile --tag analysis_of_aspose:$(date +%s)
    - name: Run console application
      run: docker run --rm analysis_of_aspose:latest